<!-- <ion-header>
  <ion-toolbar>
    <ion-title>
      Replace when adam header fixed
    </ion-title>
  </ion-toolbar>
</ion-header> -->
<!-- <app-heading></app-heading> -->
<ion-header>
  <ion-toolbar>
    <ion-title text-center>Booking</ion-title>
    <ion-back-button text="Cancel" ></ion-back-button>
  </ion-toolbar>
</ion-header>



<ion-content class="has-header">
  
  <!-- <div *ngFor="let car of allCars">
    {{car.name}}
    <br>
  </div> -->

  

  <ion-item-divider style="background-color: white; border-bottom-style: solid; border-bottom-width: 0.09em; border-bottom-color: lightgray;" sticky>
      <h4 text-center>
          <span style="color: #000035">EXOTIC CAR RENTALS IN DALLAS</span>
        </h4>
  </ion-item-divider>

<div padding-horizontal>

    <div text-center *ngFor="let car of allCars">
        <ion-img src="{{car['defaultImg']}}" (click)="carInfo(car)"></ion-img>
        <h6>{{car['name']}}</h6>
        <hr color="lightgray" style="height: 1.5px;">
  
        <ion-toolbar>
            <p>Price Per Day: <br>${{car['pricePerDay']}}</p>
          <ion-button color="customMedBlue" slot="primary" (click)="bookNow(car)">Reserve</ion-button>
        </ion-toolbar>
    </div>
  

</div>
</ion-content>

<ion-footer>
    <div (click)="presentInfoModal()" style="border-top:solid; border-bottom:solid; background-color:grey; padding: 0.5em;">
        <span>QUALIFICATIONS TO RENT A CAR ⓘ </span>
      </div>
</ion-footer>