<ion-header>
  <ion-toolbar>
    <ion-title text-center>Order Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <ion-item>
      <ion-label>
          Pick Up: <br>
          {{currHistoryItem.carLogistics.pickUpDate}} at {{currHistoryItem.carLogistics.pickUpTime}}<br>
          Platinum Motorcars {{currHistoryItem.carLogistics.pickUpPlace}}
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
          Drop Off: <br>
          {{currHistoryItem.carLogistics.dropOffDate}} at {{currHistoryItem.carLogistics.dropOffTime}}<br>
          Platinum Motorcars {{currHistoryItem.carLogistics.dropOffPlace}}
      </ion-label>
    </ion-item>


  </ion-list>

</ion-content>


<ion-footer text-center>
  <ion-button (click)="dismiss()" color="customDarkGrey">Close</ion-button>
</ion-footer>