<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Profile Info</ion-title>
    <ion-back-button text="Back" ></ion-back-button>
  </ion-toolbar>
</ion-header> -->

<app-heading></app-heading>

<ion-content>

<ion-slides #profileInfoSlider pager>
  
  <ion-slide>

      <ion-list no-lines>

          <h6>Personal Information</h6>

          <!-- first name -->
          <ion-item>
            <ion-label> First Name: </ion-label>
            <ion-input [(ngModel)]="firstName" type="text"></ion-input>
          </ion-item>

          <!-- last name -->
          <ion-item>
            <ion-label floating> Last Name: </ion-label>
            <ion-input [(ngModel)]="lastName" type="text"></ion-input>
          </ion-item>

          <!-- phone number -->
          <ion-item>
            <ion-label> Phone: </ion-label>
            <ion-input [(ngModel)]="phone" type="tel"></ion-input>
          </ion-item>

          <!-- birth date -->
          <ion-item>
            <ion-label> Date of Birth: </ion-label>
            <ion-datetime [(ngModel)]="dob" display-format="MMMM DD, YYYY" min="1919" max="1994"></ion-datetime>
          </ion-item>

          <!-- permanent address -->
          <ion-item>
            <ion-label> Address: </ion-label>
            <ion-input [(ngModel)]="address" type="text"></ion-input>
          </ion-item>

          <!-- city -->
          <ion-item>
            <ion-label> City: </ion-label>
            <ion-input [(ngModel)]="city" type="text"></ion-input>
          </ion-item>

          <!-- state/province -->
          <ion-item>
            <ion-label> State/Province: </ion-label>
            <ion-select [(ngModel)]="state" value="TX">
              <ion-select-option value="AL">Alabama</ion-select-option>
              <ion-select-option value="AK">Alaska</ion-select-option>
              <ion-select-option value="AZ">Arizona</ion-select-option>
              <ion-select-option value="AR">Arkansas</ion-select-option>
              <ion-select-option value="CA">California</ion-select-option>
              <ion-select-option value="CO">Colorado</ion-select-option>
              <ion-select-option value="CT">Connecticut</ion-select-option>
              <ion-select-option value="DE">Delaware</ion-select-option>
              <ion-select-option value="DC">D.C.</ion-select-option>
              <ion-select-option value="FL">Florida</ion-select-option>
              <ion-select-option value="GA">Georgia</ion-select-option>
              <ion-select-option value="HI">Hawaii</ion-select-option>
              <ion-select-option value="ID">Idaho</ion-select-option>
              <ion-select-option value="IL">Illinois</ion-select-option>
              <ion-select-option value="IN">Indiana</ion-select-option>
              <ion-select-option value="IA">Iowa</ion-select-option>
              <ion-select-option value="KS">Kansas</ion-select-option>
              <ion-select-option value="KY">Kentucky</ion-select-option>
              <ion-select-option value="LA">Louisiana</ion-select-option>
              <ion-select-option value="ME">Maine</ion-select-option>
              <ion-select-option value="MD">Maryland</ion-select-option>
              <ion-select-option value="MA">Massachusetts</ion-select-option>
              <ion-select-option value="MI">Michigan</ion-select-option>
              <ion-select-option value="MN">Minnesota</ion-select-option>
              <ion-select-option value="MS">Mississippi</ion-select-option>
              <ion-select-option value="MO">Missouri</ion-select-option>
              <ion-select-option value="MT">Montana</ion-select-option>
              <ion-select-option value="NE">Nebraska</ion-select-option>
              <ion-select-option value="NV">Nevada</ion-select-option>
              <ion-select-option value="NH">New Hampshire</ion-select-option>
              <ion-select-option value="NJ">New Jersey</ion-select-option>
              <ion-select-option value="NM">New Mexico</ion-select-option>
              <ion-select-option value="NY">New York</ion-select-option>
              <ion-select-option value="NC">North Carolina</ion-select-option>
              <ion-select-option value="ND">North Dakota</ion-select-option>
              <ion-select-option value="OH">Ohio</ion-select-option>
              <ion-select-option value="OK">Oklahoma</ion-select-option>
              <ion-select-option value="OR">Oregon</ion-select-option>
              <ion-select-option value="PA">Pennsylvania</ion-select-option>
              <ion-select-option value="RI">Rhode Island</ion-select-option>
              <ion-select-option value="SC">South Carolina</ion-select-option>
              <ion-select-option value="SD">South Dakota</ion-select-option>
              <ion-select-option value="TN">Tennessee</ion-select-option>
              <ion-select-option value="TX">Texas</ion-select-option>
              <ion-select-option value="UT">Utah</ion-select-option>
              <ion-select-option value="VT">Vermont</ion-select-option>
              <ion-select-option value="VA">Virginia</ion-select-option>
              <ion-select-option value="WA">Washington</ion-select-option>
              <ion-select-option value="WV">West Virginia</ion-select-option>
              <ion-select-option value="WI">Wisconsin</ion-select-option>
              <ion-select-option value="WY">Wyoming</ion-select-option>
            </ion-select>
          </ion-item>

          <!-- zip/postal code -->
          <ion-item>
            <ion-label> Zip/Postal Code: </ion-label>
            <ion-input [(ngModel)]="zip" type="text"></ion-input>
          </ion-item>
          <ion-button color="customDarkGrey" (click)="confirmPage1()">Click to Confirm Page 1</ion-button>
      </ion-list>
  </ion-slide>


  <ion-slide>
    <ion-list no-lines>
        <h6>Payment Information</h6>

        <!-- credit card type -->
        <ion-item>
          <ion-label> Credit Card Type: </ion-label>
          <ion-select [(ngModel)]="this.cardType">
            <ion-select-option value="Visa">Visa</ion-select-option>
            <ion-select-option value="Master Card">Master Card</ion-select-option>
            <ion-select-option value="AmEx">AmEx</ion-select-option>
          </ion-select>
        </ion-item>

        <!-- credit card number -->
        <ion-item>
          <ion-label> Credit Card Number: </ion-label>
          <ion-input [(ngModel)]="this.cardNumber" type="text"></ion-input>
        </ion-item>

        <!-- credit card security code -->
        <ion-item>
          <ion-label> Security Code: </ion-label>
          <ion-input [(ngModel)]="this.csv" type="text"></ion-input>
        </ion-item>

        <!-- card holder name -->
        <ion-item>
          <ion-label> Card Holder: </ion-label>
          <ion-input [(ngModel)]="this.cardHolder" type="text"></ion-input>
        </ion-item>

        <!-- credit card expiration month -->
        <ion-item>
          <ion-label> Expiration Month: </ion-label>
          <!-- <ion-datetime [(ngModel)]="this.expMonth" display-format="MMMM"></ion-datetime> -->
          <ion-input [(ngModel)]="this.expMonth" type="text"></ion-input>
        </ion-item>

        <!-- credit card expiration year -->
        <ion-item>
          <ion-label> Expiration Year: </ion-label>
          <ion-datetime [(ngModel)]="this.expYear" display-format="YYYY" min="2019" max="2024"></ion-datetime>
        </ion-item>
        <ion-button color="customDarkGrey" (click)="confirmPage2()">Click to Confirm Page 2</ion-button>
    </ion-list>
  </ion-slide>


  <ion-slide>
    <ion-list no-lines>
        <h6> Billing Address</h6>


          <ion-item>
            <ion-label> Billing Address: </ion-label>
            <ion-input [(ngModel)]="this.billingAddress" type="text"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label> City: </ion-label>
            <ion-input [(ngModel)]="this.billingCity" type="text"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label> State/Province: </ion-label>
            <ion-select [(ngModel)]="this.billingState" value="TX">
              <ion-select-option value="AL">Alabama</ion-select-option>
              <ion-select-option value="AK">Alaska</ion-select-option>
              <ion-select-option value="AZ">Arizona</ion-select-option>
              <ion-select-option value="AR">Arkansas</ion-select-option>
              <ion-select-option value="CA">California</ion-select-option>
              <ion-select-option value="CO">Colorado</ion-select-option>
              <ion-select-option value="CT">Connecticut</ion-select-option>
              <ion-select-option value="DE">Delaware</ion-select-option>
              <ion-select-option value="DC">D.C.</ion-select-option>
              <ion-select-option value="FL">Florida</ion-select-option>
              <ion-select-option value="GA">Georgia</ion-select-option>
              <ion-select-option value="HI">Hawaii</ion-select-option>
              <ion-select-option value="ID">Idaho</ion-select-option>
              <ion-select-option value="IL">Illinois</ion-select-option>
              <ion-select-option value="IN">Indiana</ion-select-option>
              <ion-select-option value="IA">Iowa</ion-select-option>
              <ion-select-option value="KS">Kansas</ion-select-option>
              <ion-select-option value="KY">Kentucky</ion-select-option>
              <ion-select-option value="LA">Louisiana</ion-select-option>
              <ion-select-option value="ME">Maine</ion-select-option>
              <ion-select-option value="MD">Maryland</ion-select-option>
              <ion-select-option value="MA">Massachusetts</ion-select-option>
              <ion-select-option value="MI">Michigan</ion-select-option>
              <ion-select-option value="MN">Minnesota</ion-select-option>
              <ion-select-option value="MS">Mississippi</ion-select-option>
              <ion-select-option value="MO">Missouri</ion-select-option>
              <ion-select-option value="MT">Montana</ion-select-option>
              <ion-select-option value="NE">Nebraska</ion-select-option>
              <ion-select-option value="NV">Nevada</ion-select-option>
              <ion-select-option value="NH">New Hampshire</ion-select-option>
              <ion-select-option value="NJ">New Jersey</ion-select-option>
              <ion-select-option value="NM">New Mexico</ion-select-option>
              <ion-select-option value="NY">New York</ion-select-option>
              <ion-select-option value="NC">North Carolina</ion-select-option>
              <ion-select-option value="ND">North Dakota</ion-select-option>
              <ion-select-option value="OH">Ohio</ion-select-option>
              <ion-select-option value="OK">Oklahoma</ion-select-option>
              <ion-select-option value="OR">Oregon</ion-select-option>
              <ion-select-option value="PA">Pennsylvania</ion-select-option>
              <ion-select-option value="RI">Rhode Island</ion-select-option>
              <ion-select-option value="SC">South Carolina</ion-select-option>
              <ion-select-option value="SD">South Dakota</ion-select-option>
              <ion-select-option value="TN">Tennessee</ion-select-option>
              <ion-select-option value="TX">Texas</ion-select-option>
              <ion-select-option value="UT">Utah</ion-select-option>
              <ion-select-option value="VT">Vermont</ion-select-option>
              <ion-select-option value="VA">Virginia</ion-select-option>
              <ion-select-option value="WA">Washington</ion-select-option>
              <ion-select-option value="WV">West Virginia</ion-select-option>
              <ion-select-option value="WI">Wisconsin</ion-select-option>
              <ion-select-option value="WY">Wyoming</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label> Zip/Postal Code: </ion-label>
            <ion-input [(ngModel)]="this.billingZip" type="text"></ion-input>
          </ion-item>
  
          <ion-button (click)="confirmPage3()" color="customDarkGrey">Click to Confirm Page 3</ion-button>
    </ion-list>
  </ion-slide>

  <ion-slide>
    <ion-list no-lines>
        
        <h6>Driver Information</h6>

        <!-- driver license # -->
        <ion-item>
          <ion-label>Driver License Number:</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>

        <!-- driver license expiration date -->
        <ion-item>
          <ion-label>Driver's License Expiration:</ion-label>
          <ion-datetime display-format="MM/DD/YYYY" min="2019" max="2023"></ion-datetime>
        </ion-item>

        <!-- driver license state -->
        <ion-item>
          <ion-label>Driver's License State:</ion-label>
          <ion-select value="TX">
            <ion-select-option value="AL">Alabama</ion-select-option>
            <ion-select-option value="AK">Alaska</ion-select-option>
            <ion-select-option value="AZ">Arizona</ion-select-option>
            <ion-select-option value="AR">Arkansas</ion-select-option>
            <ion-select-option value="CA">California</ion-select-option>
            <ion-select-option value="CO">Colorado</ion-select-option>
            <ion-select-option value="CT">Connecticut</ion-select-option>
            <ion-select-option value="DE">Delaware</ion-select-option>
            <ion-select-option value="DC">D.C.</ion-select-option>
            <ion-select-option value="FL">Florida</ion-select-option>
            <ion-select-option value="GA">Georgia</ion-select-option>
            <ion-select-option value="HI">Hawaii</ion-select-option>
            <ion-select-option value="ID">Idaho</ion-select-option>
            <ion-select-option value="IL">Illinois</ion-select-option>
            <ion-select-option value="IN">Indiana</ion-select-option>
            <ion-select-option value="IA">Iowa</ion-select-option>
            <ion-select-option value="KS">Kansas</ion-select-option>
            <ion-select-option value="KY">Kentucky</ion-select-option>
            <ion-select-option value="LA">Louisiana</ion-select-option>
            <ion-select-option value="ME">Maine</ion-select-option>
            <ion-select-option value="MD">Maryland</ion-select-option>
            <ion-select-option value="MA">Massachusetts</ion-select-option>
            <ion-select-option value="MI">Michigan</ion-select-option>
            <ion-select-option value="MN">Minnesota</ion-select-option>
            <ion-select-option value="MS">Mississippi</ion-select-option>
            <ion-select-option value="MO">Missouri</ion-select-option>
            <ion-select-option value="MT">Montana</ion-select-option>
            <ion-select-option value="NE">Nebraska</ion-select-option>
            <ion-select-option value="NV">Nevada</ion-select-option>
            <ion-select-option value="NH">New Hampshire</ion-select-option>
            <ion-select-option value="NJ">New Jersey</ion-select-option>
            <ion-select-option value="NM">New Mexico</ion-select-option>
            <ion-select-option value="NY">New York</ion-select-option>
            <ion-select-option value="NC">North Carolina</ion-select-option>
            <ion-select-option value="ND">North Dakota</ion-select-option>
            <ion-select-option value="OH">Ohio</ion-select-option>
            <ion-select-option value="OK">Oklahoma</ion-select-option>
            <ion-select-option value="OR">Oregon</ion-select-option>
            <ion-select-option value="PA">Pennsylvania</ion-select-option>
            <ion-select-option value="RI">Rhode Island</ion-select-option>
            <ion-select-option value="SC">South Carolina</ion-select-option>
            <ion-select-option value="SD">South Dakota</ion-select-option>
            <ion-select-option value="TN">Tennessee</ion-select-option>
            <ion-select-option value="TX">Texas</ion-select-option>
            <ion-select-option value="UT">Utah</ion-select-option>
            <ion-select-option value="VT">Vermont</ion-select-option>
            <ion-select-option value="VA">Virginia</ion-select-option>
            <ion-select-option value="WA">Washington</ion-select-option>
            <ion-select-option value="WV">West Virginia</ion-select-option>
            <ion-select-option value="WI">Wisconsin</ion-select-option>
            <ion-select-option value="WY">Wyoming</ion-select-option>
          </ion-select>
        </ion-item>
  

         <!-- insurance company -->
        <ion-item>
          <ion-label>Insurance Company:</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>

        <!-- insurance expiration -->
        <ion-item>
          <ion-label>Insurance Expiration:</ion-label>
          <ion-datetime display-format="MM/DD/YYYY" min="2019" max="2023"></ion-datetime>
        </ion-item>

        <!-- insurance phone -->
        <ion-item>
          <ion-label>Insurance Phone:</ion-label>
          <ion-input type="tel"></ion-input>
        </ion-item>

        <!-- insurance contact name -->
        <ion-item>
          <ion-label>Insurance Contact:</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>

        <!-- insurance policy num -->
        <ion-item>
          <ion-label>Policy Number:</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
        <ion-button color="customDarkGrey">Click to Confirm Page 4</ion-button>
    </ion-list>
  </ion-slide>

</ion-slides>
  
</ion-content>