<ion-header>
  <ion-toolbar>
    <ion-title text-center>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div text-center style="margin: auto; padding-top: 5%; padding-bottom: 5%; margin-bottom: 5%;">
        <ion-img src="../../../assets/images/logo.png"></ion-img>
  </div>

  <div class = "loginInfo">
    <ion-item class="loginItem" id="username">
      <!-- <ion-label>Username:</ion-label> -->
      <ion-input placeholder="Enter Username:" [(ngModel)]="username" type="text"></ion-input>
    </ion-item>

    <ion-item class="loginItem" id="password">
      <!-- <ion-label>Password:</ion-label> -->
      <ion-input placeholder="Enter Password:" [(ngModel)]="password" type="password"></ion-input>
    </ion-item><br><br>

    <table style="width:100%">
      <tr>
        <td (click)="presentResetPWModal()">
          <button style="background-color: white; border:none; width: 100%; text-decoration:underline; text-align:center">Forgot password?</button>
        </td>  
        <td>
          <button style="background-color: white; border:none; width: 100%; text-decoration:underline; text-align:center" [routerLink]="['/create-account']">Create account</button><br>
        </td>
      </tr>
    </table><br>

    <div text-centergit style="text-align: center">
      <ion-button size="large" style="width:50%;" color="customDarkGrey" (click)="login()" [disabled]="!username || !password">Login</ion-button>
    </div>

  </div>
</ion-content>
