<app-heading></app-heading>

<ion-content padding class="has-header">
<br>
<!-- logo -->
<ion-img src="../../../assets/images/logo.png"></ion-img>
<br>



<div text-center>

    <p style="font-size: 0.8em;">Want to drive one of these cars tonight?</p>


  <ion-slides pager="true">
    <ion-slide>
        <ion-img src="../../../assets/images/vantage.png"></ion-img>
    </ion-slide>
    <ion-slide>
        <ion-img src="../../../assets/images/lambo.png"></ion-img>
    </ion-slide>
    <ion-slide>
        <ion-img src="../../../assets/images/ferrari.png"></ion-img>
    </ion-slide>
  </ion-slides>



  <p>Click <a>here</a> to begin</p>
    <br><br>
  <ion-button [routerLink]="['/login']">Log Out</ion-button>
  <ion-button [routerLink]="['/booking']">Booking</ion-button>
</div>
  
</ion-content>

