<app-heading></app-heading>

<ion-content padding-bottom>
<br>
<!-- logo -->
<ion-img padding-horizontal src="../../../assets/images/logo.png"></ion-img>
<br>


<div text-center>
  <ion-slides padding-horizontal pager="true">
    <ion-slide>
        <ion-img src="../../../assets/images/vantage.png"></ion-img>
    </ion-slide>
    <ion-slide>
        <ion-img src="../../../assets/images/lambo.png"></ion-img>
    </ion-slide>
    <ion-slide>
        <ion-img src="../../../assets/images/ferrari.png"></ion-img>
    </ion-slide>
  </ion-slides>

  <p style="font-size: 0.8em;">Want to drive one of these cars tonight?</p>

<ion-button color="customDarkGrey" [routerLink]="['/booking']">Book now!</ion-button>
    <br>
    <br>

</div>

<div>
    <ion-item-divider style="background-color: white;" sticky>
        <ion-label style="color: black;">
            <ion-icon name="paper"></ion-icon>
            News Feed:
        </ion-label>
    </ion-item-divider>

    <div padding-horizontal >
        <ion-card>
            <ion-card-header>
                <ion-card-subtitle>
                    <ion-icon name="logo-twitter"></ion-icon>
                    Mar 1, 2019
                </ion-card-subtitle>
                <ion-card-title>Alice McPython</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                Great experience renting from Platinum Motors! Would recommend to 
                anyone who loves exotic cars and all things fancy and such.
                #platinummotorcars
            </ion-card-content>
            <ion-icon style="float: right; padding-right: 0.5em; padding-bottom: 0.5em;" name="logo-rss"></ion-icon>
        </ion-card>

        <ion-card>
            <ion-img src="https://image.shutterstock.com/z/stock-photo-man-in-car-driving-and-waving-male-driver-having-fun-traveling-on-road-trip-160550225.jpg"></ion-img>
            <ion-card-header>
                <ion-card-subtitle>
                    <ion-icon name="logo-instagram"></ion-icon>
                    Mar 14, 2019
                </ion-card-subtitle>
                <ion-card-title>Bob O'Java</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                Excellent service and great ride!
                #platinummotorcars
            </ion-card-content>
            <ion-icon style="float: right; padding-right: 0.5em; padding-bottom: 0.5em;" name="logo-rss"></ion-icon>
        </ion-card>
                  
    </div>

</div>

<!-- testing new stuff -->

<div (click)="loadPost(post)" padding-bottom *ngFor="let post of posts$ | async">
    <button >Load post</button>
    <div>
        <h3 [innerHTML]="post.title.rendered"> </h3>
        <p no-margin> <small> By {{post._embedded.author[0].name }} </small> </p>
    </div>
    <div *ngIf="post.featured_image">
        <img padding-top class="featured-image" [src]="post.featured_image">
    </div>
    <div>
        <div [innerHTML]="post.excerpt.rendered"></div>
    </div>
</div>

</ion-content>
