<!-- <app-heading></app-heading> -->

<ion-header>
        <ion-toolbar>
          <div>
            <ion-title>
              <p style="font-size: 70%;">Platinum Motorcars</p>
            </ion-title>
          </div>
        </ion-toolbar>
</ion-header>

<ion-content padding-horizontal padding-bottom>
<br>
<!-- logo -->
<ion-img src="../../../assets/images/logo.png"></ion-img>
<br>



<div text-center>

    


  <ion-slides pager="true">
    <ion-slide>
        <ion-img src="../../../assets/images/vantage.png"></ion-img>
    </ion-slide>
    <ion-slide>
        <ion-img src="../../../assets/images/lambo.png"></ion-img>
    </ion-slide>
    <ion-slide>
        <ion-img src="../../../assets/images/ferrari.png"></ion-img>
    </ion-slide>
  </ion-slides>

  <p style="font-size: 0.8em;">Want to drive one of these cars tonight?</p>

<ion-button color="testGrey" [routerLink]="['/booking']">Book now!</ion-button>
    <br>
    <br>
<!-- <ion-button [routerLink]="['/login']">Log Out</ion-button> -->
  
</div>

<div>
    <ion-item-divider style="background-color: white;" sticky> 
        <ion-label>
            <ion-icon name="paper"></ion-icon>
            News Feed:
        </ion-label>
    </ion-item-divider>
        
        <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur viverra orci id facilisis rutrum. Nam eleifend sodales urna nec interdum. Nulla nec ante a eros blandit ultricies. Vestibulum non velit at dolor mattis dapibus et id dolor. Vivamus quis convallis nisl. Duis sit amet nulla pellentesque, mattis metus quis, dictum ligula. Mauris non diam porttitor nulla accumsan tempus in et orci. Etiam feugiat commodo lacus, ac fringilla arcu porttitor ac. Proin lacinia bibendum dui, sollicitudin sagittis risus interdum at. Quisque sed egestas nulla.

                Vestibulum ipsum tortor, ultrices porta hendrerit sed, interdum nec dolor. Cras quis finibus velit. Cras posuere interdum neque, quis pulvinar magna rutrum id. Integer hendrerit, quam non accumsan ullamcorper, massa lectus malesuada elit, id facilisis odio nunc et tellus. Duis non tristique lorem. Sed consectetur, mi non luctus cursus, elit mi vestibulum nisi, a finibus odio ex eu sapien. Nullam mollis nisl ornare volutpat consequat. Nulla ac dolor nec metus dignissim tincidunt. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin porttitor quam sit amet metus blandit, non dapibus nisi lobortis. Vestibulum tempus tempus suscipit.
                
                Integer at nunc elit. Nunc viverra lorem id ligula mollis, in tristique libero imperdiet. Duis hendrerit odio metus, a gravida dui vestibulum nec. Suspendisse et erat in nibh porttitor venenatis. Donec purus quam, semper et euismod eget, sollicitudin sodales erat. Aliquam suscipit, arcu id egestas consequat, sapien massa malesuada dolor, sit amet lacinia erat ligula ac ante. Quisque rutrum enim id sollicitudin dictum. Maecenas eros est, interdum non enim eget, hendrerit efficitur urna.
                
                Aenean ut mauris sed metus laoreet euismod in ut velit. Maecenas sit amet augue leo. Curabitur non tincidunt ipsum. Phasellus luctus odio nec scelerisque ullamcorper. Suspendisse nec ex viverra, pretium mi in, posuere orci. Morbi mattis tellus quis ullamcorper laoreet. Aliquam egestas rhoncus ipsum, sagittis mollis tortor tincidunt ut. Mauris sit amet magna sit amet justo sagittis volutpat vel et leo. Fusce id risus sed sapien molestie aliquam. Mauris luctus at libero ut ultrices. Phasellus viverra facilisis nisl quis mollis. Curabitur porta augue sed viverra auctor. Donec varius at lectus vel consequat.
                
                
        </p>


</div>
  
</ion-content>

