<ion-header>
  <ion-toolbar>
    <ion-title text-center>Additional Info</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding text-center>
    <h3>{{carData.name}}</h3>
    <br>
    <table>
      <tr>
        <td class="cell1">
          <ion-text >
            Miles Included:
          </ion-text>
        </td>
        <td class="cell2">
          {{carData.milesIncluded}}
        </td>
      </tr>
      <tr>
        <td class="cell1">
          <ion-text >
            Additional Mileage:
          </ion-text>
        </td>
        <td class="cell2">
          {{carData.additionalMileage}}
        </td>
      </tr>
      <tr>
        <td class="cell1">
          <ion-text >
            Security Damage Deposit:
          </ion-text>
        </td>
        <td class="cell2">
          {{carData.securityDeposit}}
        </td>
      </tr>

    </table>
    <!-- Miles Included: {{carData.milesIncluded}}
    <br>
    Additional Mileage: {{carData.additionalMileage}}
    <br>
    Security Damage Deposit: {{carData.securityDeposit}} -->
    
</ion-content>

<ion-footer text-center>
    <ion-button (click)="dismiss()" color="customDarkGrey">Close</ion-button>
</ion-footer>


