<ion-header>
  <ion-toolbar>
    <ion-title text-center>Reset Password</ion-title>
    <ion-buttons (click)="dismiss()" slot="start">
        <ion-button style="color: #3881ff">Cancel</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div text-center style="margin: auto; padding-top: 5%; padding-bottom: 5%; margin-bottom: 5%;">
      <ion-img src="../../../assets/images/logo.png"></ion-img>
  </div>

  <div style="text-align: center">
    <h3>Forgot your password?</h3>
    We'll send you an email with a link to reset your password.
  </div><br>
  

  <div class = "resetPasswordInfo">
    <ion-item class="resetPasswordItem" id="email">
      <ion-label>Email</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
  </div><br>

  <div style="text-align:center">
    <ion-button color="customMedBlue" (click)="dismiss()" style="text-align:center; width:50%">Send Email</ion-button><br>
  </div>

</ion-content>
