<ion-header>
  <ion-toolbar>
    <ion-title>Select Night Life</ion-title>
    <ion-buttons (click)="dismiss()" slot="primary">
      <ion-button style="color: #3881ff">Cancel</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<div text-center>
  <div (click)="dismiss()">
    <div style="border:1px solid #021a40">
      <ion-img src="https://media.timeout.com/images/100898801/630/472/image.jpg">
      </ion-img>
      <h6>Sample Night Life</h6>
      <p>$ 340.00</p>
    </div>
  </div>
</div>
</ion-content>