<ion-header>
  <ion-toolbar>
    <ion-title>
      <div text-center>
        Create Account
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>
<!-- epic -->
<ion-content>

<!-- sign in with facebook/gmail -->
  <ion-item class = "fbLogin" lines="none">
    <ion-icon name="logo-facebook" style="zoom:2.0;"></ion-icon>
    <ion-input readonly="true"><h4>Sign up with Facebook</h4></ion-input>
  </ion-item>
  

 <div class = "profileInfo">
   <!-- first name -->
   <ion-item class="profileItem" id="firstName">
     <ion-label> First Name: </ion-label>
     <ion-input type="text" placeholder="Farts" required></ion-input>
   </ion-item>

   <!-- last name -->
   <ion-item class="profileItem" id="lastName">
      <ion-label> Last Name: </ion-label>
      <ion-input type="text" placeholder="McCool" required></ion-input>
    </ion-item>

    <!-- Date of Birth -->
    <ion-item class="profileItem" id="dob">
        <ion-label> DOB: </ion-label>
        <ion-input type="text" required></ion-input>
      </ion-item>
    
    <!-- Credit Card info -->
    <ion-item class="profileItem" id="creditCardNum">
      <ion-label> Credit Card #: </ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>

    <ion-item class="profileItem" id="creditCardExpDate">
      <ion-label> Credit Card Expiration: </ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>

     <!-- billing address -->
     <ion-item class="profileItem" id="billingAddress">
        <ion-label> Billing Address: </ion-label>
        <ion-input type="text" required></ion-input>
    </ion-item>

    <!-- driver license # -->
    <ion-item class="profileItem" id="dlNum">
        <ion-label> Driver's License #: </ion-label>
        <ion-input type="text" required></ion-input>
    </ion-item>

    <!-- Insurance contact num -->
    <ion-item class="profileItem" id="insurancePhoneNum">
        <ion-label> Insurance Phone #: </ion-label>
        <ion-input type="text" required></ion-input>
    </ion-item>

    <!-- Insurance Company -->
    <ion-item class="profileItem" id="insuranceComp">
        <ion-label> Insurance Provider: </ion-label>
        <ion-input type="text" required></ion-input>
    </ion-item>

    <!-- Insurance expiration -->
    <ion-item class="profileItem" id="insuranceExp">
        <ion-label> Insurance Expiration: </ion-label>
        <ion-input type="text" required></ion-input>
    </ion-item>
 </div>
 <br>
<div text-center>
  <ion-button [routerLink]="['/home']">Create Account</ion-button>
</div>

</ion-content>