<ion-header>
  <ion-toolbar>
    <ion-title>Create Account</ion-title>
    <ion-back-button text="Prev" ></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="newAccountUsers" (ngSubmit)="logForm()">
    <!-- create username -->
    <ion-item>
      <ion-label> Username: </ion-label>
      <ion-input type="text" formControlName="username" placeholder="min 5 characters"> </ion-input>
    </ion-item>

    <!-- create password -->
    <ion-item>
      <ion-label> Password: </ion-label>
      <ion-input type="password" formControlName="password" placeholder="min 8 characters"> </ion-input>
    </ion-item>

    <!-- re type password -->
    <ion-item>
      <ion-label> Re-Type Password: </ion-label>
      <ion-input type="password" formControlName="passwordCheck" placeholder="retype password"> </ion-input>
    </ion-item>

    <div text-center>
      <ion-button class="create-account-button" type="submit" [disabled]="!newAccountUsers.valid" [routerLink]="['/home']">Create Account</ion-button>
    </div>
  </form>

  <!-- sign in with facebook -->
  <br> <br>
  <div class="fbLogo"> 
    <ion-icon name="logo-facebook"></ion-icon>
  </div>
  <button type="button" class="signinInitialStep_fbButton signinForm__cta button button-large button-facebook">
    Sign up with Facebook
  </button>

  <div class="googleLogo"> 
    <ion-icon name="logo-google"></ion-icon>
  </div>
  <button type="button" class="signinInitialStep_googleButton signinForm__cta button button-large button-google">
    Sign up with Google
  </button>

</ion-content>