
p {
    font-size: 0.8em;
    color: rgba(255, 0, 0, 0.5);
    text-align: center;
}

h6{
    font-size: .9em;
    color: #363636;
    text-decoration: underline;
    margin-top: .8em;
    margin-bottom: 0;
}

h5{
    font-size: 1em;
    color: #363636;
    font-weight: bold;
    margin-top: .7em;
    margin-bottom: .1em;
}

.swiper-slide {
    display: block;
}

.invalid {
    border: .1em solid #ea6153;
}
