<ion-header>
  <ion-toolbar>
    <ion-title text-center>Confirmation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <!-- <div *ngFor="let opt of entertainmentArr">
    {{opt.name}}
    <br>
  </div> -->

  <div>
    <div style="text-align: center">
      <h4 >Car Selection:</h4>
    </div>

    <table>
      <tr>
        <td class="cell1">
          <ion-text >
            Model:
          </ion-text>
        </td>
        <td class="cell2">
          Aston Martin Vanquish
        </td>
      </tr>

    </table>
  </div><br>

  <div>
    <div style="text-align: center">
      <h4 >Date Range:</h4>
    </div>

    <table>
      <tr>
        <td class="cell1">
          <ion-text >
            Pick up time:
          </ion-text>
        </td>
        <td class="cell2">
          April 11 at 1pm
        </td>
      </tr>
      <tr>
        <td class="cell1">
          <ion-text >
            Location:
          </ion-text>
        </td>
        <td class="cell2">
          Dallas
        </td>
      </tr>
      <br>
      <tr>
        <td class="cell1">
          <ion-text >
            Drop off time:
          </ion-text>
        </td>
        <td class="cell2">
          April 13th at 2pm
        </td>
      </tr>
      <tr>
        <td class="cell1">
          <ion-text >
            Location:
          </ion-text>
        </td>
        <td class="cell2">
          Dallas
        </td>
      </tr>

    </table>
  </div><br>


  <div *ngIf="entertainmentArr.length > 0">
      <div style="text-align: center">
        <h4 >Entertainment Add-Ons:</h4>
      </div>
  
      <table>
        <tr *ngFor="let opt of entertainmentArr">
          <td class="cell1">
            <ion-text >
              {{opt.eventType}}:
            </ion-text>
          </td>
          <td class="cell2">
            {{opt.name}}
          </td>
        </tr>
  
      </table>
      <br>
    </div>

  <div>
    <div style="text-align: center">
      <h4 color="medium">Summary:</h4>
    </div>
    <table>
      <tr>
        <td class="cell1">
          <ion-text >
            Car:
          </ion-text>
        </td>
        <td class="cell2">
          $1200
        </td>
      </tr>
      <tr *ngFor="let opt of entertainmentArr">
          <td class="cell1">
            <ion-text >
              {{opt.name}}:
            </ion-text>
          </td>
          <td class="cell2">
              ${{opt.price}}
          </td>
        </tr>
      

    </table>
  </div><br>

</ion-content>

<ion-footer>
  
    <ion-toolbar>
      <div text-center>
          <h3>Total:
            ${{getTotal()}}
          </h3>
      </div>
      <hr color="lightgray">
    </ion-toolbar>

    <ion-toolbar>
      <ion-button color="light" slot="start" [routerLink]="['/entertainment']">
        Edit
      </ion-button>
      <ion-button slot="end" color="customMedBlue">
        Pay Now
      </ion-button>
    </ion-toolbar>
  </ion-footer>
