<ion-header>
  <ion-toolbar>
    <ion-title>Confirm Booking</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <div class="dateRange">
    <div style="text-align: center">
      <h4 color="customDarkGrey">Date Range:</h4>
    </div>

    <table>
      <tr>
        <td class="cell1">
          <ion-text color="customDarkGrey">
            Pick up time:
          </ion-text>
        </td>
        <td class="cell2">
          11/09/18 at 10am
        </td>
      </tr>

      <tr>
        <td class="cell1">
          <ion-text color="customDarkGrey">
            Drop off time:
          </ion-text>
        </td>
        <td class="cell2">
          11/13/18 at 10am
        </td>
      </tr>

    </table>
  </div><br>
  <hr color="black">

  <div class="price">
    <div style="text-align: center">
      <h4 color="medium">Summary:</h4>
    </div>
    <table>
      <tr>
        <td class="cell1">
          <ion-text color="customDarkGrey">
            Type o' car:
          </ion-text>
        </td>
        <td class="cell2">
          $1200
        </td>
      </tr>

      <tr>
        <td class="cell1">
          <ion-text color="customDarkGrey">
            Restaurant:
          </ion-text>
        </td>
        <td class="cell2">
          9pm
        </td>
      </tr>

      <tr>
        <td class="cell1">
          <ion-text color="customDarkGrey">
            Cowboys Game:
          </ion-text>
        </td>
        <td class="cell2">
          $1000
        </td>
      </tr>
    </table>
  </div><br>
  <hr color="black">

  <div style="text-align: center" class="submit">
    <ion-text color="customDarkGrey">
      <h3>Total: $2200</h3>
    </ion-text>

    <ion-button text-centergit style="text-align: center" color="customMedBlue">
      Submit
    </ion-button><br>
    <ion-button text-centergit style="text-align: center" color="customDarkGrey" [routerLink]="['/entertainment']">
      Cancel
    </ion-button>
  </div>
</ion-content>
