<ion-header>
  <ion-toolbar>
    <ion-title>Select Experience</ion-title>
    <ion-buttons (click)="dismiss()" slot="primary">
      <ion-button style="color: #3881ff">Cancel</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<div text-center>
  <div (click)="dismissWithData()">
    <div style="border:1px solid #021a40">
      <ion-img src="https://epichelicopters.com/assets/site_images/_380x215_crop_center-center_100/dallas-fort-worth-aerial-video_0.jpg">
      </ion-img>
      <h6>Sample Helicopter Trip</h6>
      <p>$ 1000.00</p>
    </div>
  </div>
</div>
</ion-content>