<ion-header>
  <ion-toolbar>
    <ion-title>
      Qualifications
    </ion-title>
    <ion-buttons (click)="dismiss()" slot="primary">
        <ion-button style="color: #3881ff">Back</ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div>
    <h5>What is the age requirement to rent a vehicle?</h5>
    <p>All renters must be at least 25 years of age.</p>
    <br>
    <h5>How are rentals priced?</h5>
    <p>All rentals are priced by calendar day, not by 24 hour period. Reservations are guaranteed on the day of arrival and due back at 10 am for return. There is a grace period of an hour. Any time after, vehicle is billed hourly until return. Prices listed are per day and do not include 13% to 15% in taxes and rental fees.</p>
    <br>
    <h5>What is needed to rent a vehicle?</h5>
    <p>All renters must have a <strong>VALID DRIVER'S LICENSE</strong> - A paper license is not a valid license. A passport or international license may qualify depending on verification. A valid credit card for the security damage deposit, you can use a debit card, but the deposit may be held longer after return. Full coverage auto insurance, <strong>we require your personal liability limits as well as property damage coverage to be a minimum of 100k.</strong> Recommended: <strong>Purchase a 300k Umbrella Policy.</strong></p>
    <br>
    <h5>What if I do not have insurance?</h5>
    <p>We do not sell insurance coverage for our rentals. If you do not have full coverage verifiable insurance, we cannot rent a vehicle to you. We make exceptions for foreign travelers with certain credit card rental insurance which incurs a larger security damage deposit.</p>
    <br>
    <h5>Do you deliver?</h5>
    <p>Delivery in around the metroplex of Dallas is $125.00. Delivery outside of the metroplex is determined by distance in miles.</p>
    <br>
    <h5>How much is the security damage deposit?</h5>
    <p>The security damage deposit ranges from $1500 to $10,000. This charge is authorized on your credit card. Damage deposits are charged on the day of pickup and released once the vehicle is brought back in the same condition.</p>
    <br>
    <h5>What is the cancellation policy?</h5>
    <p>Reservations made and cancelled outside of 72 hours will not incur any charges. Cancellations made within 72 hours of pickup will incur a one day rental charge that may be applied as future credit.</p>
    <br>
    <h5>How many miles do I get with the rental?</h5>
    <p>All vehicle rentals are given a certain number of miles per day, depending on the vehicle. Additional mileage is billed anywhere from $0.99 a mile to $5.00 a mile.</p>
    <br>
    <h5>Is smoking permitted?</h5>
    <p>No, a $1,500.00 smoking removal fee will be charged for smoke removal. <strong>NO EXCEPTIONS</strong></p>
    <br>
  </div>
</ion-content>

<ion-footer text-center>
    <ion-button (click)="dismiss()" color="customDarkGrey" >Done</ion-button>
</ion-footer>