<ion-header>
  <ion-toolbar>
    <ion-title>Book Now</ion-title>
    <ion-buttons (click)="dismiss()" slot="primary">
      <ion-button style="color: #3881ff">Cancel</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label position="stacked">Pickup Location</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Drop-off Location</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Pick-up Date/Time</ion-label>
    <ion-input type="date"></ion-input>
    <ion-input type="time"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Pick-up Date/Time</ion-label>
    <ion-input type="date"></ion-input>
    <ion-input type="time"></ion-input>
  </ion-item>


</ion-content>

<ion-footer text-center>
  <ion-button (click)="dismiss()" color="customMedBlue" [routerLink]="['/entertainment']">Confirm</ion-button>
</ion-footer>