<!-- <app-heading></app-heading> -->
<ion-header>
    <ion-toolbar>
      <ion-title>Add-Ons</ion-title>
      <ion-back-button text="Select Car" ></ion-back-button>
    </ion-toolbar>
  </ion-header>

<ion-content padding>
  <div text-center>
    <h6>Entertainment Selection</h6>
    <ion-button class="entertainment-button" (click)="presentDiningModal()" expand="block" color="customDarkGrey">
      Dining
      <ion-badge class="entertainment-badge" color="customMedBlue" *ngIf="numDining > 0">{{numDining}}</ion-badge>
    </ion-button>

    <ion-button class="entertainment-button" (click)="presentSportsConcertsModal()" expand="block" color="customDarkGrey">
      Sports/Concerts
      <ion-badge class="entertainment-badge" color="customMedBlue" *ngIf="numSportsConcerts > 0">{{numSportsConcerts}}</ion-badge>
    </ion-button>
    <ion-button expand="block" color="customDarkGrey">
      Accomodations
    </ion-button>
    <ion-button expand="block" color="customDarkGrey">
      Night Life
    </ion-button>
    <ion-button class="entertainment-button" (click)="presentExperiencesModal()" expand="block" color="customDarkGrey">
      Experiences
      <ion-badge class="entertainment-badge" color="customMedBlue" *ngIf="numExperiences > 0">{{numExperiences}}</ion-badge>
    </ion-button>
  </div>

  <ion-toolbar>
    <!-- <ion-button color="light" (click)="cancel()" [routerLink]="['/home']">Cancel Order</ion-button> -->
    <ion-button color="light" (click)="presentCancelModal()">Cancel Order</ion-button>
    <ion-button color="customMedBlue" slot="primary" [routerLink]="['/confirmation']">Finish Order</ion-button>
  </ion-toolbar>

</ion-content>

<!-- <ion-footer text-center>
  <ion-button color="danger">Cancel</ion-button>
  <ion-button color="customMedBlue">Continue</ion-button>
</ion-footer> -->