<ion-header>
  <ion-toolbar>
    <ion-title text-center>Create Account</ion-title>
    <ion-back-button text="Cancel" ></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="newAccountUsers" (ngSubmit)="logForm()">
    <!-- create username -->
    <ion-item>
      <ion-label> Email: </ion-label>
      <ion-input type="text" formControlName="email" placeholder="valid email" [class.invalid]="!newAccountUsers.controls.email.valid && (newAccountUsers.controls.email.dirty)"> </ion-input>
    </ion-item>

    <!-- if username not valid -->
    <ion-item *ngIf="!newAccountUsers.controls.email.valid  && (newAccountUsers.controls.email.dirty)">
        <p>Please enter a valid email.</p>
    </ion-item>

    <!-- create password -->
    <ion-item>
      <ion-label> Password: </ion-label>
      <ion-input type="password" formControlName="password" placeholder="min 8 characters" [class.invalid]="!newAccountUsers.controls.password.valid && (newAccountUsers.controls.password.dirty)"> </ion-input>
    </ion-item>

    <!-- if password not valid -->
    <ion-item *ngIf="!newAccountUsers.controls.password.valid  && (newAccountUsers.controls.password.dirty)">
        <p>Please enter a valid password.</p>
    </ion-item>

    <!-- re type password -->
    <ion-item>
      <ion-label> Re-Type Password: </ion-label>
      <ion-input type="password" formControlName="passwordCheck" placeholder="retype password" [class.invalid]="!newAccountUsers.controls.passwordCheck.valid && (newAccountUsers.controls.passwordCheck.dirty)"> </ion-input>
    </ion-item>

    <!-- if passwordCheck not valid -->
    <ion-item *ngIf="!newAccountUsers.controls.passwordCheck.valid  && (newAccountUsers.controls.passwordCheck.dirty)">
        <p>Please enter same password as above.</p>
    </ion-item>

    <div text-center>
      <ion-button class="create-account-button" color="customDarkGrey" type="submit" [disabled]="!newAccountUsers.valid" [routerLink]="['/login']">Create Account</ion-button>
    </div>
  </form>

  <!-- sign in with facebook -->
  <br> <br>
  <div class="fbLogo"> 
    <ion-icon name="logo-facebook"></ion-icon>
  </div>
  <button type="button" class="signinInitialStep_fbButton signinForm__cta button button-large button-facebook">
    Sign up with Facebook
  </button>

  <div class="googleLogo"> 
    <ion-icon name="logo-google"></ion-icon>
  </div>
  <button type="button" class="signinInitialStep_googleButton signinForm__cta button button-large button-google">
    Sign up with Google
  </button>

</ion-content>