<!-- <ion-header>
  <ion-toolbar>
    <ion-title>
      Replace when adam header fixed
    </ion-title>
  </ion-toolbar>
</ion-header> -->
<!-- <app-heading></app-heading> -->
<ion-header>
  <ion-toolbar>
    <ion-title>Booking</ion-title>
    <ion-back-button text="Cancel" ></ion-back-button>
  </ion-toolbar>
</ion-header>



<ion-content class="has-header">
  

  <!-- <div text-center>
    <span class="text-muted">EXOTIC CAR RENTALS IN DALLAS</span>
  </div> -->


  <!-- This area will need to be HEAVILY edited in coming drops -->

  <!-- <div text-center>
    <h5>Select Car</h5>
  </div> -->

  

  <ion-item-divider style="background-color: white; border-bottom-style: solid; border-bottom-width: 0.09em; border-bottom-color: lightgray;" sticky>
      <h4 text-center>
          <span style="color: #000035">EXOTIC CAR RENTALS IN DALLAS</span>
        </h4>
  </ion-item-divider>

<div padding-horizontal>
    <!-- <div style="border:1px solid #021a40" (click)="bookNow()"> -->
    <div text-center>
      <ion-img src="../../../assets/images/vantage.png" (click)="carInfo('ASTON MARTIN VANTAGE')"></ion-img>
      <h6>ASTON MARTIN VANTAGE</h6>
      <hr color="lightgray">

      <ion-toolbar>
          <p>Price Per Day: $799.00</p>
        <ion-button color="customMedBlue" slot="primary" (click)="bookNow()">Reserve Now</ion-button>
      </ion-toolbar>
    </div>


    <div text-center>
        <ion-img src="../../../assets/images/ferrari.png" (click)="carInfo('ASTON MARTIN VANTAGE')"></ion-img>
        <h6>FERRARI 488</h6>
        <hr color="lightgray">
        <ion-toolbar>
            <p>Price Per Day: $1,499.00</p>
          <ion-button color="customMedBlue" slot="primary" (click)="bookNow()">Reserve Now</ion-button>
        </ion-toolbar>
      </div>
  

  <!-- Area above will need SERIOUS work in coming drops -->
  <!-- <div text-center>
    <ion-button size="large" color="light" style="width:50%;" [routerLink]="['/home']">Back</ion-button>
  </div> -->

</div>
</ion-content>

<ion-footer>
    <div (click)="presentModal()" style="border-top:solid; border-bottom:solid; background-color:grey; padding: 0.5em;">
        <span>QUALIFICATIONS TO RENT A CAR ⓘ </span>
      </div>
</ion-footer>