<ion-header>
  <ion-toolbar>
    <ion-title>
      Replace when adam header fixed
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="has-header">
  <br>
  <div text-center>
    <span class="text-muted">DALLAS LUXURY & EXOTIC RENTALS</span>
    <div style="border-top:solid; border-bottom:solid; background-color:grey">
      <span>ⓘ QUALIFICATIONS TO RENT A CAR</span>
    </div>
  </div>
  <div text-center>
    <ion-button size="large" style="width:50%;" [routerLink]="['/home']">Back</ion-button>
  </div>
</ion-content>
