<!-- <ion-header>
  <ion-toolbar>
    <ion-title>
      Replace when adam header fixed
    </ion-title>
  </ion-toolbar>
</ion-header> -->
<!-- <app-heading></app-heading> -->
<ion-header>
  <ion-toolbar>
      <ion-title>Booking</ion-title>
      <ion-back-button text="Cancel" ></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content padding class="has-header">
  <div text-center>
    <span class="text-muted">DALLAS LUXURY & EXOTIC RENTALS</span>
    
  </div>

  <!-- This area will need to be HEAVILY edited in coming drops -->

  <div text-center>
    <h5>Select Car</h5>
    <div (click)="bookNow()">
      <div style="border:1px solid #021a40">
        <ion-img src="../../../assets/images/vantage.png"></ion-img>
      </div>
      <h6>SAMPLE CAR</h6>
      <p>$ Sample Price</p>
    </div>
  </div>

  <!-- Area above will need SERIOUS work in coming drops -->
  <!-- <div text-center>
    <ion-button size="large" color="light" style="width:50%;" [routerLink]="['/home']">Back</ion-button>
  </div> -->


</ion-content>

<ion-footer>
    <div (click)="presentModal()" style="border-top:solid; border-bottom:solid; background-color:grey; padding: 0.5em;">
        <span>QUALIFICATIONS TO RENT A CAR ⓘ </span>
      </div>
</ion-footer>